class Settings():
    DB_USER: str = "USERNAME"
    DB_PASSWORD: str = "PASSWORD"
    DB_HOST: str = "HOST"
    DB_PORT: str = "PORT"
    DB_NAME: str = "DBNAME"

    bot_token: str = ""

    def get_db_url(self): 
        DB_URL: str = f'postgresql+asyncpg://{self.DB_USER}:{self.DB_PASSWORD}@{self.DB_HOST}:{self.DB_PORT}/{self.DB_NAME}'
        return DB_URL
    
    def get_bot_token(self):
        return self.bot_token